{
    auto_https off
}

:10007 {
    log {
        format json
    }

    handle_path /api/* {
        reverse_proxy {$BACKEND_URL} {
            transport http {
                tls
                tls_insecure_skip_verify
            }
        }
    }

    reverse_proxy {$BACKEND_URL} {
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}